@import './_normalize.scss';

$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

$bp-smaller-than-mobile    : "max-width: 400px" !default;
$bp-smaller-than-phablet   : "max-width: 550px" !default;
$bp-smaller-than-tablet    : "max-width: 750px" !default;
$bp-smaller-than-desktop   : "max-width: 1000px" !default;
$bp-smaller-than-desktophd : "max-width: 1200px" !default;

@mixin smaller-than-mobile { @media screen and ($bp-smaller-than-mobile) { @content } }
@mixin smaller-than-phablet { @media screen and ($bp-smaller-than-phablet) { @content } }
@mixin smaller-than-tablet { @media screen and ($bp-smaller-than-tablet) { @content } }
@mixin smaller-than-desktop { @media screen and ($bp-smaller-than-desktop) { @content } }
@mixin smaller-than-desktophd { @media screen and ($bp-smaller-than-desktophd) { @content } }

@mixin larger-than-mobile { @media screen and ($bp-larger-than-mobile) { @content } }
@mixin larger-than-phablet { @media screen and ($bp-larger-than-phablet) { @content } }
@mixin larger-than-tablet { @media screen and ($bp-larger-than-tablet) { @content } }
@mixin larger-than-desktop { @media screen and ($bp-larger-than-desktop) { @content } }
@mixin larger-than-desktophd { @media screen and ($bp-larger-than-desktophd) { @content } }

@mixin transition($prop, $time, $func) {
    -webkit-transition: $prop $time $func;
    -moz-transition: $prop $time $func;
    -ms-transition: $prop $time $func;
    -o-transition: $prop $time $func;
    transition: $prop $time $func;
}

* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background: top center linear-gradient(15deg, #13547a 0%, #80d0c7 100%) no-repeat;
    background-attachment: fixed;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    margin: 0;
    padding: 0;
}

nav {
    
    @include smaller-than-tablet {
        ul { text-align: center; }
    }

    li {
        margin: 5px 0;

        @include smaller-than-tablet {
            display: inline-block;
            margin: 5px 20px 10px 20px;
        }
    }

    a {
        text-transform: uppercase;
        font-weight: 800;
    }

    .nav-icon {
        @include larger-than-tablet {
            float: left;
            margin-right: 10px;
        }
        img {
            width: 36px;
        }
    }
}

h1 {
    font-size: 1.9rem;
    font-weight: 300;


    span {
        font-weight: 800;
    }
}

#profile-pic {
    border-radius: 100%;
    border: 4px solid #ddddff;
    max-width: 230px;
    float: left;
    clear: both;
    margin-right: 2rem;

    @include smaller-than-desktop {
        max-width: 180px;
    }

    @include smaller-than-tablet {
        float: none;
        display: block;
        margin: auto;
    }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding: 3rem 2rem;
    width: 220px;

    @include smaller-than-desktop {
        width: 175px;
    }

    @include smaller-than-tablet {
        padding: 1rem;
        position: static;
        width: 100%;
    }

}


.content {
    margin-left: 175px;

    @include smaller-than-tablet {
        margin: 0;
    }

    section {
        padding: 4rem 4rem 2rem 4rem;
        min-height: 100vh;
        background-color: #eaeaff;
        color: #444;
        border-left: 4px solid #888;

        @include smaller-than-tablet {
            padding: 3rem;
            min-height: 0px;
        }

        &:first-of-type {
            color: white;
            padding: 0 4rem 0 1rem;
            background-color: transparent;
            border: none;
            @include smaller-than-tablet { 
                padding: 1rem 2rem;
            }
        }
    }

    p {
        max-width: 40rem;
    }
}


#bio {
    display: flex;
    align-items: center;

    @include smaller-than-tablet {
        text-align: center;
        display: block;
    }
}

.project {
    margin-bottom: 4rem;

    h3 {
        margin-bottom: 0;
    }

    h5 {
        margin-top: 0.5rem;
        a {
            color: #449;
        }
    }
}

.project-thumbnail {
    max-width: 100%;
    height: 300px;
}

.tools {
    margin-top: 1rem;
    list-style: none;
    max-width: 40rem;

    li {
        margin: 4px 1px;
        font-weight: 800;
        font-size: 0.8rem;
        padding: 4px 10px;
        border-radius: 4px;
        display: inline-block;
        color: rgba(255,255,235,0.85);
        background-color: #246786;
    }
}
